[submodule "Xadrez/Xadrez/xadrez-console"]
	path = Xadrez/Xadrez/xadrez-console
	url = https://github.com/JoaoPedro1411/CursoOnlineC-.git
[submodule "Xadrez/xadrez-console"]
	path = Xadrez/xadrez-console
	url = https://github.com/JoaoPedro1411/CursoOnlineC-.git
