@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>
<p2>Professor @ViewData["Professor"]</p2>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educando.com.br</a>
</address>